spring:
  datasource:

    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/utnphones
    username: root
    password:
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    showl-sql: true